<%# full image size with word %>
<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase text-white">
          <strong>Pawsible</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-white mb-5">Description about pawsible</p>
        <%= button_to "Join Us Now", sign_in_path, method: :get, class: "btn btn-primary btn-xl js-scroll-trigger" %>
      </div>
    </div>
  </div>
</header>
<%# end %>

<div class="container-fluid">
  <div style="width: 80vw; margin: auto;">

    <%# carousel Heading %>
    <h2 class="my-5 text-center">Our Best DOG</h2>
    <%# end %>

    <%# carousel for top 3 dogs %>
    <div id="carouselExampleControls" class="carousel slide my-5" data-ride="carousel">
      <div class="carousel-inner">
        <% @top_dog.each_with_index do |dog, index| %>
          <% if index === 0 %>
            <div class="carousel-item active">
          <% else %>
            <div class="carousel-item">
          <% end %>
          <div class="row justify-content-center">
            <div class="col-sm-4 px-1 d-flex justify-content-center">
              <div style="position: relative;">
                <% if !dog.profile_pic.file.nil? %>
                  <%= image_tag dog.profile_pic.url.to_s, class:"d-block carousel-img img-fluid"%>
                <% else %>
                  <%= image_tag "profile_pic.png", class:"d-block carousel-img img-fluid" %>
                <% end %>
                <div style="position: relative;">   
                  <%= image_tag(dog.badge, style: "width: 100px; height: 100px; position: absolute; top: -103px; right: 0px") %>
                </div>
              </div>
            </div>
            <div class="col-sm-3 px-1 d-flex align-items-center">
              <div class="d-none d-md-block text-dark">          
                <div style="position: absolute; top: 15px; left: 0px;">
                  <i class="fas fa-star text-warning fa-3x"></i>
                  <span class="h3 text-white" style="position: absolute; top: 11px; left: 18px;"><%= index + 1 %></span>
                </div>  
                <h4 class="text-uppercase"><%= dog.dog_name%></h4>
                <p>Status: <%= dog.status %></p>
                <p>Onwed By: <%= dog.owner_name %></p>
                <%= button_to "View Profile", user_path(dog.id), method: :get, class:"btn btn-primary btn-sm" %>
              </div>
            </div>
          </div>
          </div>
        <% end %>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <i class="fas fa-arrow-left text-dark fa-3x" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <i class="fas fa-arrow-right text-dark fa-3x" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <hr>
    <%# end %>

    <%# feed section %>
    <%# feed Heading %>
    <h3 class="my-5">Latest Challenges Accomplished</h3>
    <%# end %>

    <%# 8 latest upload %>
    <div class="row">
      <% if @uploads.size > 0 %>
        <% @uploads.each do |media| %>
          <div class="col-lg-3 col-sm-6 mb-3">
            <div class="card h-100">
              <% if %w(mp4).include?(media.media.file.extension.downcase) %>
                <%= link_to image_tag(media.media.thumb.url.to_s, class: "w-100"), upload_path(media.id) %>
                <div class="card-body">
                  <h4 class="card-title">
                    <%= media.challenge.title %> <i class="fas fa-video"></i>
                  </h4>
              <% elsif %w(jpg jpeg gif png).include?(media.media.file.extension.downcase) %>
                <%= link_to image_tag(media.media.url.to_s, class: "w-100"), upload_path(media.id) %>
                <div class="card-body">
                  <h4 class="card-title">
                    <%= media.challenge.title %> <i class="fas fa-images"></i>
                  </h4>
              <% end %>
                <p class="card-text">Completed By: <%= media.user.dog_name %></p>
                <p class="card-text">Posted On: <%= media.created_at.time.strftime("%d-%m-%Y") %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%# end %>

    <%# button to feed index %>
    <div class="text-center">
      <%= button_to "View All Feeds", uploads_path, method: :get, class:"btn btn-primary" %>
    </div>
    <hr>
    <%# end %>
    <%# end %>

    <%# leaderboard section %>
    <%# leaderboard heading %>
    <h3 class="my-5 text-center">Leaderboard</h3>
    <%# end %>

    <div class="table-responsive text-center mb-3">
      <table class="table table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Ranking</th>
            <th scope="col">Name</th>
            <th scope="col">Points</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @leaderboard.each_with_index do |dog, index| %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-1 offset-4">
                      <%= image_tag(dog.badge, id:"mini-badge")%>
                    </div>
                    <div class="col-7 text-left">
                      <%= dog.dog_name %>
                    </div>
                  </div>
                </div>  
              </td>
              <td><%= dog.total_points %></td>
              <td>
                <%= button_to "View Profile", user_path(dog.id), method: :get, class:"btn btn-primary btn-sm" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%# button to full leaderboard %>
      <%= button_to "View Full Leaderboard", leaderboard_path, method: :get, class:"btn btn-primary"%>
      <%# end %>

    </div>
    <%# end %>

  </div>
</div>