<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4 text-light">Welcome to Pawsible!</h1>
  <p class="lead text-light">Lorem ipsum.</p>
</div>

<div class="container">

  <%# to show top 3 dogs in carousel way %>

  <h1>Top Dogs:</h1>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner my-4">
      <% @top_dog.each_with_index do |dog, index| %>
        <% if index > 0 %>
          <div class="carousel-item">
            <%= image_tag dog.profile_pic.url.to_s, class:"d-block"%>
          
            <div class="carousel-caption d-none d-md-block">
              <p><%= image_tag dog.profile_pic.url.to_s %></p>
              <p><%= image_tag(dog.badge) %></p>
              <h5><%= dog.dog_name%></h5>
              <p>Status: <%= dog.status %></p>
              <p>Ranking: <%= index + 1 %></p>  
              <p>Onwed By: <%= dog.owner_name %></p> 

              <%= button_to "View Profile", user_path(dog.id), method: :get %>
            </div>
          </div>
        <% else %>
          <div class="carousel-item active">
            <%= image_tag dog.profile_pic.url.to_s, class:"d-block", alt:"First Slide"%>
            
            <div class="carousel-caption d-none d-md-block">
              <h5><%= dog.dog_name%></h5>
              <p>Status: <%= dog.status %></p>
              <p>Ranking: <%= index + 1 %></p>  
              <p>Onwed By: <%= dog.owner_name %></p> 

              <%= button_to "View Profile", user_path(dog.id), method: :get %>
            </div>
          </div>
        <% end %>
      <% end %>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <%# to show the latest 8 feed by dogs and have a button to link to feeds page when > 0 %>
  <% if @uploads.size > 0 %>
    <h1>Dog Feeds:</h1>
    <div class="row my-4">
      <% @uploads.each do |upload| %>
        <div class="col-sm-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <%# if is video, show video, if image, show image %>
              <% if %w(mp4).include?(video.media.file.extension.downcase) %>
                <video class="card-img-top" controls="controls" preload="none" width="300" src="<%= upload.media.url %>"></video>
              <% elsif %w(jpg jpeg gif png).include?(picture.media.file.extension.downcase) %>
                <%= image_tag picture.media.url.to_s %>
              <% end %>
              <p><%= upload.challenge.title%> </p> 
              <p>Completed By: <%= upload.user.dog_name %></p> 
              <p>Status: <%= upload.user.status %></p>
              <p>Owned By: <%= upload.user.owner_name %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= button_to "View all feed", uploads_path, method: :get %>
  <% end %>  

  <%# to show the top 10 dogs in leaderboard way and a button to link to the full leaderboard when > 0 %>
  <% if @leaderboard.size > 0 %>
    <h1>Leader Board:</h1>

    <div>
      <ul>
        <% @leaderboard.each_with_index do |dog, index| %>
          <p><%= image_tag dog.profile_pic.url.to_s %></p>
          <p><%= image_tag(dog.badge) %></p>
          <li><%= dog.dog_name %></li>
          <li>Ranking: <%= index + 1 %></li> 
          <li>Points: <%= dog.total_points %></li> 
          <li>Owned By: <%= dog.owner_name %></li>
          <%= button_to "View Profile", user_path(dog.id), method: :get %>
        <% end %>
      </ul>
    </div>

    <%= button_to "View full leader board", leaderboard_path, method: :get %>
  <% end %>
  
</div>