<div class="container">
  <div id="clearance" class="sign-in">
    <h2 class="my-4"><%= t(".title") %></h2>

    <%= form_for :session, url: session_path do |form| %>
      <div class="text-field form-group row">
        <%= form.label :email, class:"col-sm-1 col-form-label" %>
        <div class="col-sm-6">
         <%= form.text_field :email, type: 'email', class:"form-control" %>
        </div>
      </div>

      <div class="password-field form-group row">
        <%= form.label :password, class:"col-sm-1 col-form-label" %>
        <div class="col-sm-6">
         <%= form.password_field :password , class:"form-control"%>
        </div>
      </div>

      <div class="submit-field">
        <%= form.submit "Sign In", class:"btn btn-primary mb-4" %>
      </div>

      <div class="other-links">
        <% if Clearance.configuration.allow_sign_up? %>
          <%= link_to t(".sign_up"), sign_up_path %>
        <% end %>
        <%= link_to t(".forgot_password"), new_password_path %>
      </div>
    <% end %>

  </div>
</div>