<div class="container">
  <div id="clearance" class="sign-up">
    <h2 class="my-4"><%= t(".title") %></h2>

    <%= form_for @user do |form| %>
      
      <div class="text-field form-group row">
        <%= form.label :owner_name, :Name, class:"col-sm-2 col-form-label" %>
        <div class="col-sm-6">
          <%= form.text_field :owner_name, class:"form-control" %>
        </div>
      </div>

      <div class="text-field form-group row">
        <%= form.label :email, class:"col-sm-2 col-form-label" %>
        <div class="col-sm-6">
          <%= form.text_field :email, type: 'email', class:"form-control" %>
        </div>
      </div>

      <div class="password-field form-group row">
        <%= form.label :password, class:"col-sm-2 col-form-label" %>
        <div class="col-sm-6">
          <%= form.password_field :password, class:"form-control" %>
        </div>
      </div>

      <div class="text-field form-group row">
        <%= form.label :dog_name, :"Dog name", class:"col-sm-2 col-form-label" %>
        <div class="col-sm-6">
          <%= form.text_field :dog_name, class:"form-control" %>
        </div>
      </div>

      <div class="text-field form-group row">
        <%= form.label :breed, class:"col-sm-2 col-form-label" %>
        <div class="col-sm-6">
         <%= form.text_field :breed, class:"form-control" %>
        </div>
      </div>

      <div class="text-field form-group row">
        <%= form.label :bio, :"Say something about the dog!", class:"col-sm-2 col-form-label" %>
        <div class="col-sm-6">
         <%= form.text_field :bio, class:"form-control" %>
        </div>
      </div>

      <div class="submit-field">
        <%= form.submit "Sign Up", class:"btn btn-primary mb-4" %>
      </div>

      <div class="other-links">
        <%= link_to t(".sign_in"), sign_in_path %>
      </div>
    <% end %>
  </div>
</div>