<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    
    <div class="text-field">
      <%= form.label :owner_name, :Name %>
      <%= form.text_field :owner_name %>
    </div>

    <div class="text-field">
      <%= form.label :email %>
      <%= form.text_field :email, type: 'email' %>
    </div>

    <div class="password-field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="text-field">
      <%= form.label :dog_name, :"Dog name" %>
      <%= form.text_field :dog_name %>
    </div>

    <div class="text-field">
      <%= form.label :breed %>
      <%= form.text_field :breed %>
    </div>

    <div class="text-field">
      <%= form.label :bio, :"Say something about the dog!" %>
      <%= form.text_field :bio %>
    </div>

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>