<div class="container">
	<div class="row">
		<div class="col-sm-12 col-lg-4">
			<% if !@user.profile_pic.file.nil? %>
				<%= image_tag @user.profile_pic.url.to_s, class:"profile-pic mt-4 ml-4" %>
			<% else %>
				<%= image_tag "profile_pic.png", class:"profile-pic mt-4 ml-4" %>
			<% end %>
			<p><%= image_tag(@user.badge) %></p>
			<% if signed_in? && current_user.id = @user.id %>
				<% if !@user.profile_pic.file.nil? %>			
					<%= button_to "Change Profile Picture", profile_pic_upload_path(@user.id), method: :get, class:"btn btn-primary"%>
				<% else %>
					<%= button_to "Upload Profile Picture", profile_pic_upload_path(@user.id), method: :get, class:"btn btn-primary"%>
				<% end %>
			<% end %>
		</div>
		<div class="col-sm-12 col-lg-6">
			<h2 class="my-4"><%= @user.dog_name %></h2>
			<p class="lead">Status: <%= @user.status %></p>
			<p>Breed: <%= @user.breed %></p>
			<p>Parent: <%= @user.owner_name %></p>
			<p>Biography: <%= @user.bio %></p>
			<p>Points I have: <%= @user.total_points %></p>
			<% if signed_in? && current_user.id = @user.id %>
				<%= button_to "Edit Profile", edit_user_path(@user.id), method: :get, class:"btn btn-primary"%>
			<% end %>
		</div>
	</div>

	<div class="row my-4">
		<% @user.uploads.each do |upload| %>
	    <div class="col-sm-6 col-lg-3">
	    	<div class="card">
	    		<div class="card-body">
						<% if %w(mp4).include?(upload.media.file.extension.downcase) %>
      				<a href="<%= upload_path(upload.id) %>">
								<video class="card-img-top" controls="controls" preload="none" width="300" src="<%= upload.media.url %>"></video>
							</a>
						<% elsif %w(jpg jpeg gif png).include?(upload.media.file.extension.downcase) %>
							<%= link_to image_tag(upload.media.url.to_s), upload_path(upload.id) %>
						<% end %>
						<p><%= upload.challenge.title %></p> 
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>

