

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-6 my-4">
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-10" align="center">
					<% if !@user.profile_pic.file.nil? %>
						<%= image_tag @user.profile_pic.url.to_s, class:"profile-pic my-4" %>
					<% else %>
						<%= image_tag "profile_pic.png", class:"profile-pic my-4"%>
					<% end %>	
					<%= image_tag(@user.badge, class:"profile-badge")%>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-6 my-4">
			<h2 class="my-4"><%= @user.dog_name %></h2>
			<p class="lead">Status: <%= @user.status %></p>
			<p>Breed: <%= @user.breed %></p>
			<p>Parent: <%= @user.owner_name %></p>
			<p>Biography: <%= @user.bio %></p>
			<p>Points I have: <%= @user.total_points %></p>
	
			<% if signed_in? && current_user.id = @user.id %>

<!-- Button to trigger modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editProfileModal">
				  Edit Profile
				</button>
			<% end %>
<!-- button to trigger modal -->		

		</div>
	</div>

	<div class="row my-4">
		<% @user.uploads.each do |upload| %>
	    <div class="col-sm-6 col-lg-3">
	    	<div class="card">
	    		<div class="card-body">
  					<% if !upload.media.file.nil? %>
							<% if %w(mp4).include?(upload.media.file.extension.downcase) %>
								<a href="<%= upload_path(upload.id) %>">
									<video class="card-img-top" controls="controls" preload="none" width="300" src="<%= upload.media.url %>" poster="<%= upload.media.thumb.url %>"></video>
								</a>
							<% elsif %w(jpg jpeg gif png).include?(upload.media.file.extension.downcase) %>
								<%= link_to image_tag(upload.media.url.to_s), upload_path(upload.id) %>
							<% end %>
						<% end %>
						<p><%= upload.challenge.title %></p> 
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>




<!-- Modal to edit profile below -->	

<!-- Modal setup -->
<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<!-- Modal setup -->

<!-- Modal body -->
	<%= form_with scope: :profile, url: user_path(@user.id), method: :put, local: true do |f| %>
	  <%= f.label :owner_name %>
	  <%= f.text_field :owner_name, placeholder: @user.owner_name %>
	  <br>
	  <%= f.label :dog_name, "Name" %>
	  <%= f.text_field :dog_name, placeholder: @user.dog_name %>
	  <br>
	  <%= f.label :breed %>
	  <%= f.text_field :breed, placeholder: @user.breed %>
	  <br>
	  <%= f.label :bio, "Biography" %>
	  <%= f.text_field :bio, placeholder: @user.bio %>
	  <br>
	  <% if !@user.profile_pic.file.nil? %>			
	    <%= f.label :profile_pic, "Change Profile Picture"%>
	  <% else %>
	    <%= f.label :profile_pic, "Upload Profile Picture"%>
		<% end %>
	  <%= f.file_field :profile_pic %>
	  <br>
<!-- Modal body -->
      

<!-- Modal footer -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Update Profile" %>
	    <% end %>
        <%= button_to "Delete Account", user_path(current_user.id), method: :delete, :data => {:confirm => 'Are you sure?'} %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!-- Modal footer -->

      </div>
    </div>
  </div>
</div>

