
<!-- Section wth video/image (this needs to larger/full size for this page) -->

<div>
      <%= video_tag @upload.media %> 
</div>



<!-- Section with challenge details, add/remove as you like! or shuffle order etc. Maybe we have a smaller version of the user avatar below the video too? Turn buttons to links etc if wanted.-->

<div>

	<p><%="Challenge: #{@upload.challenge}" %></p>
	<p><%="Completed by: #{@upload.user.dog_name}" %></p>
	<p><%="Owner: #{@upload.user.owner_name}" %></p>
	<p><%="Sponsored by: #{@upload.challenge.sponsor}" %></p>
	<li><%= image_tag @upload.user.profile_pic %></li>

	<%= button_to ("View Profile")%>

</div>



<!-- Back button to return to previous page -->

<div>
	<%= button_to ("Back")%>
</div>



<!-- Below here do we want to add 'suggested videos' etc based on challenge? 'Other dogs that completed this challenge etc?' -->






