<% if @uploads.size > 0 %>
  <% @uploads.each do |media| %>
        <div class="col-sm-4">
       <div class="card">
                     
          <div class="card-block">
    <% if !media.media.file.nil? %>

    <% if %w(mp4).include?(media.media.file.extension.downcase) %>
      <a href="<%= upload_path(media.id) %>">
        <video controls="controls" preload="none" width="300" src="<%= media.media.url %>" poster="<%= media.media.thumb.url %>"></video>
      </a>
    <% elsif %w(jpg jpeg gif png).include?(media.media.file.extension.downcase) %>
      <%= link_to image_tag(media.media.url.to_s), upload_path(media.id) %>
    <% end %>
    <% end %>

    <h5 class="card-title"><%= media.challenge.title %></h5>  
    <h6 class="card-subtitle mb-2 text-muted"><%="Completed By: #{media.user.dog_name}" %></h6>
    <h6 class="card-subtitle mb-2 text-muted"><%="Posted On: #{media.created_at}" %></h6>

    <%= button_to "view", upload_path(media.id), method: :get, class: 'mb-4 btn btn-primary' %>

    </div>
    </div>
    </div>
  <% end %>
<% end %>