<%= form_with scope: :filter, url: uploads_path, method: :get, remote: true do |f| %>
  <%= f.search_field :challenge, placeholder: "Challenge Name", list: "dropdown" %>
  <datalist id="dropdown"></datalist>

  <%= f.submit "Search" %>
<% end %>

<div id="feed-content">
  <% if @uploads.size > 0 %>
    <% @uploads.each do |media| %>
      <% if %w(mp4).include?(media.media.file.extension.downcase) %>
        <a href="<%= upload_path(media.id) %>">
          <video controls="controls" preload="none" width="300" src="<%= media.media.url %>"></video>
        </a>
      <% elsif %w(jpg jpeg gif png).include?(media.media.file.extension.downcase) %>
        <%= link_to image_tag(media.media.url.to_s), upload_path(media.id) %>
      <% end %>
    <% end %>
  <% end %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    let searchTitleArray = [];
    $( "#filter_challenge" ).keyup(function(key) {
      $.ajax({
        method: "GET",
        url: "/search/autocomplete",
        data: $(this).serialize(),
        dataType: "json"
      })
      .done(function( data ) {
        if (data.length === 0 || ($("#filter_challenge").val().length === 0 && (key.keyCode === 8 || key.keyCode === 46)) ) {
          $( "#dropdown" ).empty(); 
          searchTitleArray = [];           
        } else {
          data.forEach(function(element) {
            if (searchTitleArray.indexOf(element.title) === -1) {
              searchTitleArray.push(element.title);
              $( "#dropdown" ).append( `<option value='${element.title}'>` );
            };
          });
        };
      });
    });
  });
</script>