<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    let searchTitleArray = [];
    $( "#filter_challenge" ).keyup(function(key) {
      $.ajax({
        method: "GET",
        url: "/search/autocomplete",
        data: $(this).serialize(),
        dataType: "json"
      })
      .done(function( data ) {
        if (data.length === 0 || ($("#filter_challenge").val().length === 0 && (key.keyCode === 8 || key.keyCode === 46)) ) {
          $( "#dropdown" ).empty(); 
          searchTitleArray = [];           
        } else {
          data.forEach(function(element) {
            if (searchTitleArray.indexOf(element.title) === -1) {
              searchTitleArray.push(element.title);
              $( "#dropdown" ).append( `<option value='${element.title}'>` );
            };
          });
        };
      });
    });
  });
</script>


<div class="container" >

  <div class="my-5" align="center">
   <h1>Completed Challenges</h1>
    <h4>The latest achievement from our dog community</h4>
  </div>

  <div class="my-4" id="search-filter">
    <%= form_with scope: :filter, url: uploads_path, method: :get, remote: true do |f| %>
      <div class="text-field form-group row">
        <div class="col-sm-4">
          <%= f.search_field :challenge, placeholder: "Challenge Name", list: "dropdown", class:"form-control shadow" %>
        </div>
        <datalist id="dropdown"></datalist>
        <%= f.submit "Search", class:"btn btn-secondary" %>
      </div>
    <% end %>
  </div>

  <div id="feed-content">
    <div class="row">

      <% if @uploads.size > 0 %>
        <% @uploads.each do |video| %>
          <div class="col-sm-4">
            <div class="card">            
              <div class="card-block">

                <% if !video.media.file.nil? %>
                  <% if %w(mp4).include?(video.media.file.extension.downcase) %>
                    <a href="<%= upload_path(video.id) %>" class="card-img-top">
                      <video controls="controls" preload="none" width="300" src="<%= video.media.url %>" poster="<%= video.media.thumb.url %>"></video>
                    </a>
                  <% elsif %w(jpg jpeg gif png).include?(video.media.file.extension.downcase) %>
                    <%= link_to image_tag(video.media.url.to_s, class:"card-img-top"), upload_path(video.id) %>
                  <% end %>
                <% end %>

                <h5 class="card-title"><%= video.challenge.title %></h5>  
                <h6 class="card-subtitle mb-2 text-muted"><%="Completed By: #{video.user.dog_name}" %></h6>
                <h6 class="card-subtitle mb-2 text-muted"><%="Posted On: #{video.created_at.time.strftime("%d/%m/%Y")}" %></h6>

                <%= button_to "View", upload_path(video.id), method: :get, class: 'mb-4 btn btn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= will_paginate @uploads, class:"apple_pagination" %>

  </div>

</div>

