<div class="container-fluid">
  <div style="width: 80vw; margin: auto;">

		<%# Heading %>
		<h1 class="my-4"><%= @upload.challenge.title %></h1>
		<%# end %>

    <%# content %>
		<div class="row">

			<%# image or video %>
			<div class="col-md-8" id="show-upload-dimensions">
				<% if %w(mp4).include?(@upload.media.file.extension.downcase) %>
					<video controls="controls" preload="none" width="100%" src="<%= @upload.media.url %>" poster="<%= @upload.media.thumb.url %>"></video>
				<% elsif %w(jpg jpeg gif png).include?(@upload.media.file.extension.downcase) %>
					<%= image_tag @upload.media.url.to_s, class: "img-fluid"%>
				<% end %>
			</div>
			<%# end %>

			<%# description %>
			<div class="col-md-4">
				<h3 class="my-3">Challenge Description</h3>
				<p><%= @upload.challenge.description %></p>
				<h3 class="my-3">Uploader Details</h3>
				<ul>
					<li>Completed By: <%= @upload.user.dog_name %></li>
					<li>Owner: <%= @upload.user.owner_name %></li>
					<li>Challenge Sponsored By: <%= @upload.challenge.sponsor %></li>
				</ul>
				<%= button_to "View Owner Profile", user_path(@upload.user.id), method: :get, class: 'btn btn-primary' %>
			</div>
			<%# end %>

		</div>
		<%# end %>

		<%# suggestion heading %>
		<h3 class="my-4">Related Feeds</h3>
		<%# end %>

		<div class="row">

			<% @suggestion.each do |row| %>
				<%# each suggestion %>
				<div class="col-md-4 col-sm-6 mb-4">
					<div class="card h-100">
						<% if %w(mp4).include?(row.media.file.extension.downcase) %>
							<%= link_to image_tag(row.media.thumb.url.to_s, class: "w-100"), upload_path(row.id) %>
							<div class="card-body">
								<h4 class="card-title">
									<%= row.challenge.title %> <i class="fas fa-video"></i>
						<% elsif %w(jpg jpeg gif png).include?(row.media.file.extension.downcase) %>
							<%= link_to image_tag(row.media.url.to_s, class: 'w-100'), upload_path(row.id) %>
							<div class="card-body">
								<h4 class="card-title">
									<%= row.challenge.title %> <i class="fas fa-images"></i>
						<% end %>
							</h4>
							<p class="card-text">Completed By: <%= row.user.dog_name %></p>
						</div>
					</div>
				</div>
				<%# end %>

			<% end %>

		</div>
	</div>
</div>