
</br></br>
<div class="container">
		<div id="show-upload-dimensions">

		  <% if %w(mp4).include?(@upload.media.file.extension.downcase) %>
		  	<video controls="controls" preload="none" width="300" src="<%= @upload.media.url %>" poster="<%= @upload.media.thumb.url %>"></video>
			<% elsif %w(jpg jpeg gif png).include?(@upload.media.file.extension.downcase) %>
		    <%= image_tag @upload.media.url.to_s %>
		    <% else %>
			<% end %>

			  <div class="text-left">
				<p>Challenge: <%= @upload.challenge.title %></p>
				<p>Completed By: <%= @upload.user.dog_name %></p>
				<p>Owner: <%= @upload.user.owner_name %></p>
				<p>Sponsored By: <%= @upload.challenge.sponsor %></p>

				<%= button_to "View Profile", user_path(@upload.user.id), method: :get, class: 'mb-4 btn btn-primary' %>
		      </div>
		</div>
    </div>
</div>
