<!-- Section wth video/image (this needs to larger/full size for this page) -->

<div>
  <% if %w(mp4).include?(@upload.media.file.extension.downcase) %>
  	<video controls="controls" autobuffer="true" width="300" src="<%= @upload.media.url %>"></video>
	<% elsif %w(jpg jpeg gif png).include?(@upload.media.file.extension.downcase) %>
    <%= image_tag @upload.media.url.to_s %>
	<% end %>
</div>

<!-- Section with challenge details, add/remove as you like! or shuffle order etc. Maybe we have a smaller version of the user avatar below the video too? Turn buttons to links etc if wanted.-->

<div>
	<p>Challenge: <%= @upload.challenge.title %></p>
	<p>Completed By: <%= @upload.user.dog_name %></p>
	<p>Owner: <%= @upload.user.owner_name %></p>
	<p>Sponsored By: <%= @upload.challenge.sponsor %></p>
	<li><%= image_tag @upload.user.profile_pic.url.to_s %></li>
  <li><%= image_tag(@upload.user.badge) %></li>


	<%= button_to "View Profile", user_path(@upload.user.id), method: :get %>
</div>

<div>
  <p>suggestion from same challenge</p>
	<div>
		Video:
		<% @same_kind.each do |video| %>
			<% if %w(mp4).include?(video.media.file.extension.downcase) %>
				<video controls="controls" autobuffer="true" width="300" src="<%= video.media.url %>"></video>
			<% end %>
		<% end %>
	</div>

	<div>
		Picture:
		<% @same_kind.each do |picture| %>
			<% if %w(jpg jpeg gif png).include?(picture.media.file.extension.downcase) %>
				<%= image_tag picture.media.url.to_s %>
			<% end %>
		<% end %>
	</div>
</div>


<!--
Back button to return to previous page, this can only be done by using ajax

<div>
	<%= button_to "Back"%>
</div>

Below here do we want to add 'suggested videos' etc based on challenge? 'Other dogs that completed this challenge etc?' 
-->