<div>
  <% if %w(mp4).include?(@upload.media.file.extension.downcase) %>
  	<video controls="controls" preload="none" width="300" src="<%= @upload.media.url %>"></video>
	<% elsif %w(jpg jpeg gif png).include?(@upload.media.file.extension.downcase) %>
    <%= image_tag @upload.media.url.to_s %>
	<% end %>
</div>

<div>
	<p>Challenge: <%= @upload.challenge.title %></p>
	<p>Completed By: <%= @upload.user.dog_name %></p>
	<p>Owner: <%= @upload.user.owner_name %></p>
	<p>Sponsored By: <%= @upload.challenge.sponsor %></p>
	<% if !@upload.user.profile_pic.file.nil? %>
		<li><%= image_tag @upload.user.profile_pic.url.to_s %></li>
	<% else %>
		<li><%= image_tag "profile_pic.png" %></li>
	<% end %>   
  <li><%= image_tag(@upload.user.badge) %></li>


	<%= button_to "View Profile", user_path(@upload.user.id), method: :get %>
</div>

<div>
  <p>suggestion from same challenge</p>
	<div>
		<% @same_kind.each do |media| %>
			<% if %w(mp4).include?(media.media.file.extension.downcase) %>
      	<a href="<%= upload_path(media.id) %>">
					<video controls="controls" preload="none" width="300" src="<%= media.media.url %>"></video>
				</a>
			<% elsif %w(jpg jpeg gif png).include?(media.media.file.extension.downcase) %>
      	<%= link_to image_tag(media.media.url.to_s), upload_path(media.id) %>
			<% end %>
		<% end %>
	</div>
</div>