
</br></br>
<div class="container d-flex justify-content-center">
		<div id="show-upload-dimensions">

		  <% if %w(mp4).include?(@upload.media.file.extension.downcase) %>
		  	<video controls="controls" preload="none" width="800" src="<%= @upload.media.url %>" poster="<%= @upload.media.thumb.url %>"></video>
			<% elsif %w(jpg jpeg gif png).include?(@upload.media.file.extension.downcase) %>
		    <%= image_tag @upload.media.url.to_s %>
		    <% else %>
			<% end %>

			  <div class="text-left">
				<h3><%= @upload.challenge.title %></h3>
				<p style="line-height:10px;">Completed By: <%= @upload.user.dog_name %></p>
				<p style="line-height:3px;">Owner: <%= @upload.user.owner_name %></p>
				<p style="line-height:3px;">Sponsored By: <%= @upload.challenge.sponsor %></p>

				<%= button_to "View Profile", user_path(@upload.user.id), method: :get, class: 'mb-4 btn btn-primary' %>
		      </div>
		</div>
    </div>
</div>
