<!DOCTYPE html>
<html>
  <head>
    <title>Pawsible</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# navbar which will show at all pages %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="<%=root_path%>">Pawsible</a>
        
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <%# show upload index link no matter sign in or not %>
        <%= link_to "Feeds", uploads_path %>
        <%# show challenges index link no matter sign in or not %>
        <%= link_to "Challenges", challenges_path %>
        <%# show leaderboard index link no matter sign in or not %>
        <%= link_to "Leader Board", leaderboard_path %>
        <%# if signed in, show user's email, if not show sign in/sign up link %>
        <% if signed_in? %>
          <%= current_user.email %>
          <%= button_to 'Sign out', sign_out_path, method: :delete %>
        <% else %>
          <ul class="navbar-nav mr-auto">
            <%# this will link to a page that contain sign up/sign in by using AJAX %>
            <li class="nav-item"><%= link_to "Sign in/Sign up", session_new_path, class:"nav-link" %></li>
          </ul>
        <% end %>
      </div>

    </nav>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
