<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag "favicon.ico" %>
    <title>Pawsible</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%# navbar %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="<%=root_path%>">
          <%= image_tag "paw.png", id: "nav-logo" %> Pawsible
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "Feeds", uploads_path, class:"nav-link text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to "Challenges", challenges_path, class:"nav-link text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to "Leaderboard", leaderboard_path, class:"nav-link text-white" %>
            </li>
            <% if signed_in? %>
              <li class="nav-item">
                <%= link_to "Profile", current_user, class:"nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign out', sign_out_path, method: :delete, class:"nav-link text-white" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Sign in/Sign up", sign_in_path, class:"nav-link text-white" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <%# end %>

    <%# flash will trigger when upload failed, signup failed, require login and sign in failed from clearance %>
    <% if flash %>
      <div class="container">
        <div class="row">
          <% flash.each do |key, value| %>
            <div id="flash" class="col-4 mx-auto text-center my-3 alert alert-info" role="alert">
              <div><%= value %></div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <%# end %>

    <%= yield %>

    <%# footer %>
    <footer class="py-2 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Pawsible 2018</p>
      </div>
    </footer>
    <%# end %>
  </body>
</html>
